body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-image: Aurl("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-1-conversor-de-moedas.png");
  background-color: #000000;
  background-size: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}
.campo {
  align-self: center;
  /* width: auto; */
  text-align: center;
  align-items: center;
  display: inline-flex;
  /* flex: auto; */
}

#valor {
  font-weight: bold;
  text-align: center;
  font-size: larger;
  width: 150px;
  height: 30px;
  border-radius: 20px;
}
.selecione-moedas {
  font-weight: bold;
  width: 250px;
  height: 45px;
  border-radius: 20px;
}
.resultado {
  margin-top: 25px;
}
#search{
  width: 250px;
  height: 45px;
  border-radius: 20px;
}
.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}
  
input {
  margin: 12px;
  padding: 6px;
}

label {
  color: white;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  font-size: 25px;
  color: #ffffff;
  background: rgb(117, 117, 2);
}

h2 {
  font-weight: bold;
  color: field;
  font-size: 30px;
}
